<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <script>
        function validateForm() {
          var x = document.forms["myForm"]["text"].value;
          if (x == "" || x == null) {
            alert("Text must be filled out.");
            return false;
          }
        }
    </script>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<h2>Input text to analyze using Standford Core NLP</h2>
<form action="#" name="myForm" th:action="@{/getInput}" th:object="${result}" method="post">
    <p>
        <textArea type="text" rows="5" cols="100" th:field="*{text}" name="textField">
    </textArea>
    </p>
    <br>
    <button type="submit" formaction="/getOutput" onclick="validateForm()">Submit to output</button>
</form>
</body>
</html>